# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**

- List popular languages for Data Science
- Use basic Python commands in Jupyter notebooks
- Perform simple arithmetic operations in Python
- Create simple tables

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
hours = 200 / 60
print (hours)

3.3333333333333335

## Author
Harry M